.sidebar{
    flex:1;
    height: calc(100vh - 50px);
    background-color:rgba(251, 251, 255);
    position:sticky;
    top:50px;
}
.sideWrapper{
    padding:20px;
    color:#555;
    
}
.sidebarMenu{
    margin-bottom: 10px;
}
.sidebarTitle{
    font-size: 13px;
    color:#555
}
.sidebarList{
    list-style: none;
    padding:5px;
}
.sidebarListItem{
    display:flex;
    align-items: center;
    padding:5px;
    cursor:pointer;
}
.sidebarListItem.active,
.sidebarListItem:hover{
    background:rgba(240, 240, 255);
    border-radius: 10px;
}
.sidebarIcon{
    font-size: 20px !important;
    margin-right: 5px;
}